/*------------------------------------------------------------------------*/
/* A Modern CSS Reset - Josh Comeau                  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*------------------------------------------------------------------------*/

/*Fonts-------------------------------------------------------------------*/
@font-face {
    font-family: 'yantramanav_regularregular';
    src: url('../fonts/yantramanav-regular-webfont.woff2') format('woff2'),
         url('../fonts/yantramanav-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'noticia_textregular';
    src: url('../fonts/noticiatext-regular-webfont.woff2') format('woff2'),
         url('../fonts/noticiatext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*------------------------------------------------------------------------*/

:root {
    --background-color: hsl(282, 32%, 10%);
    --project-color: hsl(282, 32%, 70%);
    --project-header-color: hsl(282, 32%, 30%);
    --project-name-background-color: hsl(282, 32%, 25%);
    --light-text-color: hsl(99, 93%, 97%);
    --todo-color: hsl(282, 32%, 56%);
    --todo-sidebar-color: hsl(282, 52%, 88%);
    --todo-input-color: hsl(282, 15%, 37%);
    --textbox-color: hsl(159, 17%, 92%);
    
    --add-button-color: hsl(99, 93%, 70%);
    --remove-button-color: hsl(350, 77%, 40%);
    --checkbox-color: hsl(99, 20%, 90%);
    --checkbox-hover-color: hsl(99, 50%, 70%);
    --checkbox-complete-color: hsl(99, 90%, 10%);

    --dark-text-color: var(--background-color);
    --light-text-color: var(--textbox-color);

    --todo-border-radius: 10px;
    --header-size: 30px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;

    background-color: var(--project-color);
    border-bottom: 2px solid #0002;
    color: var(--dark-text-color);
input, select, textarea {
    font-family: 'yantramanav_regularregular', sans-serif;
}

.logo-text,
.project-name,
.todo-name {
    font-family: 'noticia_textregular', serif;
}

    height: var(--header-size);
}

.add-checklist-item-container,
.input-container {
    display: flex;
    align-content: center;
}

.logo-text {
    font-weight: bold;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    gap: 20px;
    
    background-color: var(--background-color);

    height: calc(100vh - var(--header-size));

    overflow: auto;

    padding: 20px;
}

.project-container {
    height: 24rem;

    background-color: var(--project-color);
    color: var(--dark-text-color);
    font-size: 0.8rem;
    
    border: 2px solid #000B;
    border-radius: 3%;
    padding-bottom: 5px;

    overflow: hidden;
}

.project-header {
    display: flex;
    justify-content: space-between;
    
    background-color: var(--project-header-color);

    padding: 5px;
}

.project-name {
    background-color: var(--project-name-background-color);
    color: var(--light-text-color);
    border: 2px outset #0002;
    border-radius: 7px;
    padding: 0 5px;

    width: 18ch;

    font: 1.3rem bold;
}

.project-remove-button {
    align-self: center;
    
    border: 2px outset #0002;
    border-radius: 50%;

    width: 30px;
    height: 30px;
}

.project-body {
    margin: 0 6px;
}

#add-project-input,
.project-body textarea,
.project-body input[type='date'],
.project-body input[type='text'] {
    background-color: var(--todo-input-color);
    border: 2px outset #0006;
    border-radius: 5px;
    color: var(--light-text-color);
}

.add-todo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    
    background-color: var(--todo-color);
    border-radius: 3px;

    padding: 2px;
    margin: 5px 0;
}

#add-project-button,
.add-todo-button,
.add-checklist-item-button {
    background-color: var(--add-button-color);
    border: 2px outset #0003;
    border-right: 2px solid #00000015;
    border-radius: 50% 0 0 50%;
 }

#add-project-button {
    width: 28px;
    height: 28px;
}

.add-checklist-item-button,
.add-todo-button {
   width: 24px;
   height: 24px;
}

#add-project-button::after,
.add-todo-button::after,
.add-checklist-item-button::after {
    display: inline-block;
    position: relative;
    
    content: '';
    background: url('../images/icons/plus-svgrepo-com.svg') no-repeat center;
}

#add-project-button::after {
    background-size: 14px;

    top: -3px;
    left: -3px;
    width: 28px;
    height: 28px;    
}

.add-todo-button::after {
    background-size: 12px;

    top: -1px;
    left: -2px;
    width: 20px;
    height: 20px;
}

.add-checklist-item-button::after {
    background-size: 12px;

    top: -1px;
    left: -2px;
    width: 20px;
    height: 20px;
}

#add-project-input,
.add-todo-container .add-todo-input[type='text'],
.add-checklist-item-container .add-checklist-item-input[type='text'] {
    border-style: outset;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 2px solid #0002;
    border-radius: 10px;

    height: 290px;
    overflow: auto;
}

.todo-container {
    display: grid;
    grid-template:
	'sidebar todo' 1fr
	'expand expand' 16px / 32px 1fr;

    background-color: var(--todo-color);
    border-radius: var(--todo-border-radius);
}

.todo-sidebar {
    background-color: var(--todo-sidebar-color);
    border-radius: var(--todo-border-radius) 0 0 0;

    padding: 5px;
    width: 32px;
}

input[type='checkbox'] {
    appearance: none;

    background-color: var(--checkbox-color);
    border: 2px solid #0002;
    border-radius: 50%;
}

input[type='checkbox']:hover {
    background-color: var(--checkbox-hover-color);

    transform: scale(0.95, 0.95);
    transition:
	background-color 0.2s,
	transform 0.2s;
}

input[type='checkbox']:checked {
    background-color: var(--checkbox-complete-color);

    transform: scale(1, 1);
}

.todo-complete-checkbox {
    width: 24px;
    height: 24px;
}

.todo-complete-checkbox:checked::after,
.checklist-item-checkbox:checked::after {
    content: '';
    display: inline-block;

    background-image: url('../images/icons/tick-mark.png');
    background-position: center;

    position: absolute;

    filter: brightness(0) saturate(100%) invert(81%) sepia(50%) saturate(666%) hue-rotate(42deg) brightness(99%) contrast(95%);    
}

.todo-complete-checkbox:checked::after {
    background-size: 20px;

    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}

.checklist-item-checkbox:checked::after {
    background-size: 16px;

    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
}

.todo-content-container {
    flex: 1;

    padding: 7px;
}

.todo-content-header {
    display: grid;
    grid-template:
	'name name remove-button' 1.8lh
	'priority due-date .' 1.3lh / 0.8fr 1fr 40px;
    gap: 3px;

    margin-bottom: 5px;
}

.todo-content-body {
    display: flex;
    flex-direction: column;
    gap: 5px;    

    max-height: 0px;
    overflow: hidden;

    transition: max-height 0.4s ease-out;
}

.todo-name {
    grid-area: name;

    width: 18ch;

    font-size: 1rem;
}

.todo-due-date {
    grid-area: due-date;
    
    background-color: var(--todo-input-color);
    border: 2px outset #0002;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.todo-expand-button {
    grid-area: expand;
    
    background-color: #0003;
    border: none;
    border-radius: 0 0 5px 5px;

    width: 100%;
}

.todo-expand-button::after {
    content: '';
    display: inline-block;
    background: url('../images/icons/down.png') no-repeat center;
    background-size: 24px;

    width: 100%;
    height: 100%;

    transition: transform 0.3s;
}

.priority-dropdown {
    grid-area: priority;
    
    border: 2px outset #0002;
    border-radius: 5px;
}

.project-priority-dropdown {
    border: 2px outset #0002;
    border-radius: 5px;
}

.todo-checklist-item {
    display: flex;
    align-items: center;
    gap: 7px;
}

.todo-checklist-item,
.add-checklist-item-container {
    margin-left: 10px;
}

.project-remove-button::after,
.todo-remove-button::after,
.checklist-item-remove-button::after {
    display: inline-block;
    content: '';
    position: relative;

    background: url('../images/icons/trash-can.png') no-repeat center;
    background-size: 14px;
    background-position: center;

    filter: brightness(0) saturate(100%) invert(13%) sepia(88%) saturate(3672%) hue-rotate(339deg) brightness(97%) contrast(94%);
}

.project-remove-button,
.todo-remove-button,
.checklist-item-remove-button {
    background-color: var(--todo-sidebar-color);
    border: 2px solid #0002;
    border-radius: 50%;
}

.project-remove-button {
    width: 36px;
    height: 36px;
}

.project-remove-button::after {
    top: 2px;
    
    background-size: 22px;

    width: 22px;
    height: 22px;
}

.todo-remove-button {
    grid-area: remove-button;
    justify-self: end;

    width: 32px;
    height: 32px;
}

.todo-remove-button::after {
    background-size: 20px;

    top: 2px;
    
    width: 20px;
    height: 20px;
}

.checklist-item-remove-button,
.checklist-item-checkbox {
    width: 20px;
    height: 20px;
}

.checklist-item-remove-button::after {
    background-size: 12px;

    top: -2px;
    left: -2px;
    
    width: 12px;
    height: 12px;
}

.todo-content-body-expanded {
    max-height: 300px;
}

.todo-expand-button-flipped.todo-expand-button::after {
    transform: scaleY(-1);
}
